{% extends "!layout.html" %}

{% block extrahead %}
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.us3.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '149']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  <meta name="msvalidate.01" content="A416C0755D3C5B690EE11BADDF79F4DE" />
<meta name="google-site-verification" content="4TioYWJFEBXG8zheTR5wZ_xe4xetDIdQy-VrGNB4WrI" />
<meta name="description" content="You just need to visit `yt.be/activate <https://yt.be/activate>`_, enter the code displayed on your TV, and sign in with your Google account. This guide shows you exactly how to do it, troubleshoot common issues, and start watching your favorite content on the big screen in minutes." />
<meta name="keywords" content="yt.be/activate, activate YouTube on smart tv, yt.be activate enter code tv, yt.be activate login, yt activate login, yt be activate enter, please enter your activation code, enter your activation code, tv.youtube.com start, enter my activation code, youtube activate, yt activate login, activate YouTube on my computer, youtube activate tv enter code, youtube tv activate, youtube tv start activate," />
<meta name="robots" content="index, follow" />
<title>Yt.be/activate - How to Easily Enter a Code for YouTube TV</title>
    {{ super() }}
{% endblock %}
